/*
    SELECTORS
        tagname
        #id
        .class
        *

    to use a CSS variable
        var(--variable-name)
*/

html {
    --peach: #E4B7A0;
    --hot-pink: white;
    --mint: white;
    --yellow: white;
}



body {
    background-color: var(--peach);
    color: black;

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* To prevent scrollbars caused by video */
  }

  .header-content {
    position: relative;
}

.header-photo {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 100px; /* Adjust the width as needed */
    height: auto;
    border-radius: 5%; /* Optional: Add a border-radius for a circular shape */
    border: 1px solid white; /* Optional: Add a border for better visibility */
}

    .video-container {
    position: fixed;
    top: 0; /* Align to the top */
    left: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Place it behind other content */
  }

  .video-container .giphy-embed {
    width: 100%;
    height: 100%;
  }


    header {
    background-color: #A45C40;
    color: white;
    padding: 1rem;
    text-align: center;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  section {
    padding: 2rem;
  }
  
  #projects {
    background-color: #F6EEE0;
  }
  
  .project {
    margin-bottom: 2rem;
  }
  
  footer {
    background-color: #A45C40;
    color: white;
    text-align: center;
    padding: 1rem;


}